name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Publish to 12oclock Maven
        env:
          TWELVE_OCLOCK_USERNAME: ${{ secrets.REPOSILITE_USERNAME }}
          TWELVE_OCLOCK_PASSWORD: ${{ secrets.REPOSILITE_TOKEN }}
        run: ./gradlew publish --no-daemon
